/* globals.css または適切なCSSファイルに記述 */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    color: #333;
}

h1 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px 20px;
}
strong {
    color: #333; /* 強調テキストの色 */
    margin-right: 5px; /* 右側の余白 */
}

input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    width: 200px;
    border: 1px solid #ddd;
}

button {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

form {
    margin-bottom: 20px;
}
